.container {
  height: 100%;
  display: grid;
  grid-template-rows: 90px auto;
  overflow: hidden;
}
.header {
  height: 100%;
  display: grid;
  grid-template-columns: 250px auto;
  align-items: center;
  padding: 0px 32px;
  background-color: #020024;
}

.logo {
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 16px 0 #3b272780;
}

.containers {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: auto 42%;
  align-items: center;
  justify-items: center;
}

.intro {
  color: #020024;
  letter-spacing: 0.05em;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 56px;

  align-items: center;
}

.intro p {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
}

.signin-form {
  width: 312.547px;
  display: grid;
  grid-template-rows: 2fr 1fr 1fr 1fr 1fr;
  grid-row-gap: 16px;
  justify-items: center;
  align-items: center;
  box-shadow: 0 0 16px 0 #00000080;
  padding: 0px 32px;
  margin-top: 35px;
  background: #d2dae6;
}

.signin {
  color: #020024;
}

.label {
  font-weight: bold;
  color: #8d8d8d;
}

input {
  background: #ffffff;
  text-decoration: none;
  padding: 12px 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 18px;
  width: 248.547px;
}

input:focus {
  outline: none;
}

.input-field {
  width: 100%;
  display: grid;
  justify-items: center;
}

.input-field div {
  width: 290.55px;
  display: grid;
  grid-row-gap: 5px;
}

button {
  color: #fff;
  background-color: #020024;
  border-color: #020024;
  height: 40px;
  display: inline-block;
  margin-bottom: 0;
  margin-top: 30px;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

button:focus {
  outline: none;
}

.go-signup {
  font-size: 18px;
  padding: 16px 0px;
}

.link {
  text-decoration: none;
  color: #8d8d8d;
  font-weight: bold;
}

.link:hover {
  color: #11111111;
}

@media only screen and (max-width: 500px) {
  .intro {
    display: none;
  }

  .container {
    display: block;
  }

  html,
  body {
    background-color: white;
  }

  .signin-form {
    box-shadow: 0 0 0px 0 #00000000;
  }
}
